/* layout changes */
.container-fluid {
    border-bottom: 5px dashed yellow;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px dashed blue;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: dotted 1px saddlebrown; */
}

/* typography */
h1,
h2,
h3 {
    padding: 20px;
}
h2:before,
h3:before {
    content: '';
    border-left: 3px solid red;
    margin-right: 5px;
}
h4,
h5,
h6 {
    padding: 10px;
}
h4:before,
h5:before,
h6:before {
    content: '';
    border-left: 3px solid green;
    margin-right: 5px;
}
p {
    padding: 10px;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }